---
# Predefined Global Variables
layout: default
published: true
categories:
  - static
tags:
  - how

#Custom Variables
title: About Us - Meet The Team
nav_title: Meet The Team
why_how_what:
---

{% include full_width_image.html image_id="flower" image_height="450" %}

<section id="our-philosophy" class="top-divider orange-on-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Meet the Team</h1>
      </div>
    </div>
    <div class="row">
      {% for person in site.data.people %}
        {% if person[1].current_employee == true %}
          {% include person_excerpt.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
