#our-philosophy {
  background: #e97b00;
  padding: 40px 0px !important;
  h1 {color: white;}
}

#our-team {
  h2 {color: #e97b00;}
  
  .thumbnail {
    padding: 0px;
    border: none;
    
    a.portrait img {border-radius: 10px 10px 0px 0px;}
    .caption {
      border-radius: 0px 0px 10px 10px;
      background: #201d18;
      padding: 15px;
      height: 120px;
      color: white;
      position: relative;
      h3 {font-weight: 100;}
      h3, h4 {margin: 0px;}
      p.bio-links {position: absolute; bottom: 15px; left:15px; margin: 0px;}
      p.bio-links a img {display: inline; width:20px; height: 20px;}
    }
  }
}