#how {
  h1 {color: #00b2bc;}
  #how-we-work-header {
    background: #00b2bc;
    padding: 40px 0px !important;
    h1 {color: white;}
  }
  
  #how-we-work img {margin-bottom: 30px;}
  
  #asking-why {
    background: #ebeae5;
  }
}