html,
body {
  height: 100%;
  width: 100%;
}


.header {
  display: table;
  width: 100%;
  overflow: hidden;
  position: relative;
//  background: url(../images/apr_14_shoot/transmitter.jpg) no-repeat;
  background: url(../images/apr_14_shoot/electro_pop_sard.jpg) no-repeat;
//  background: url(../images/apr_14_shoot/london_skyline.jpg) no-repeat;

  // Two options
//  // Fixed attachment OR...
//  background-attachment: fixed;
//  height: 500px;
//  -webkit-background-size: auto 1200px;
//  -moz-background-size: auto 1200px;
//  -o-background-size: auto 1200px;
//  background-size: auto 1200px;
//  background-position: 40% -300px;
//  background-attachment: fixed; 
  
  // Alternative is scroll and cover
  height: 300px;
  background-attachment: scroll;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 10px;
  span.highlighted {
      background: url('../images/construction/60_percent_black_transparent.png') repeat;
    //  border: 8px solid white;
      margin: 0 auto;
      padding: 6px 16px;
  }
}

.vert-text h1 {
  color: white;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5em;

}

.vert-text h3 {
  font-size: 1.3em;
  color: white;
}
