$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'variables';
// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

///* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//    .container {
//        max-width: 730px;
//    }
//
//    /* Remove the padding we set earlier */
//    .header,
//    .marketing,
//    .footer {
//        padding-left: 0;
//        padding-right: 0;
//    }
//
//    /* Space out the masthead */
//    .header {
//        margin-bottom: 30px;
//    }
//
//    /* Remove the bottom border on the jumbotron for visual effect */
//    .jumbotron {
//        border-bottom: 0;
//    }
//}


// KM Edits

.navbar-inverse .navbar-nav {
  font-size: $font-size-small;
}

.navbar1 {
  .navbar-nav {
    // Uncollapse the nav
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }

    &.navbar-right:last-child {
      margin-right: -$navbar-padding-horizontal;
    }
  }
}

.navbar2 {
  top:30px;
  background: url('../images/construction/60_percent_black_transparent.png') repeat;
  a {min-height: 4*30px;}
  .navbar-brand {
    line-height:120px;
    padding:0px $navbar-padding-horizontal;
    &.sard-logo {height: 30px; width: ($navbar-padding-horizontal*2) + 389; background: url('../images/simon_web/SARD_Logo_Wht_389x90.png') no-repeat center $navbar-padding-horizontal;}
  }
  z-index: 1029;
  .navbar-right a {
    width: 120px;
    &.why {background: url('../images/simon_web/Nav_Roundel_WHY_Wht.png') no-repeat center;}
    &.how {background: url('../images/simon_web/Nav_Roundel_HOW_Wht.png') no-repeat center;}
    &.what {background: url('../images/simon_web/Nav_Roundel_WHAT_Wht.png') no-repeat center;}
    
    &.active {
      &.why {background: url('../images/simon_web/Nav_Roundel_WHY_Orange.png') no-repeat center;}
      &.how {background: url('../images/simon_web/Nav_Roundel_HOW_SBlue.png') no-repeat center;}
      &.what {background: url('../images/simon_web/Nav_Roundel_WHAT_Purple.png') no-repeat center;}
    }
  }
  
  @media (max-width: $grid-float-breakpoint) {
    a {min-height: 30px;}
    .navbar-right {float:right; li {float:left; a{width: 90px;}}}
    .navbar-brand.sard-logo {width: ($navbar-padding-horizontal*2) + 78; background: url('../images/simon_web/SARD_Logo_Wht_78x18.png') no-repeat $navbar-padding-horizontal;}
  }  
}

