.full-width-image {
  display: table;
  
  width: 100%;
  height: 450px;
  
  overflow: hidden;
  position: relative;
  
  background-image: url(/images/apr_14_shoot/london_skyline.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: auto auto;
  background-attachment: scroll;
  border: 0px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#london_skyline.full-width-image {background-image: url(/images/apr_14_shoot/london_skyline.jpg);}
#transmitter.full-width-image {
  background-image: url(/images/apr_14_shoot/transmitter.jpg);
  background-position: center bottom;
}
#aerial.full-width-image {background-image: url(/images/video_stills/aerial.jpg);}
#dinosaur-neck {
  background-image: url(/images/apr_14_shoot/dinosaur_neck.jpg);
  background-position: center 40%;
}
#code-testing {
  background-image: url(/images/video_stills/code_testing.jpg);
}
#sophie-and-kevin-in-office { background-image: url(/images/video_stills/sophie_and_kevin_in_office.jpg); }
#phil-at-window { background-image: url(/images/video_stills/phil_at_window.jpg); }
#timer { background-image: url(/images/video_stills/timer.jpg); }
#dig-chewing-pen { background-image: url(/images/video_stills/dig.jpg); }
#nsc-pyramids1 {
  background-image: url(/images/apr_14_shoot/nsc_pyramids1.jpg);
  background-position: center 40%;
}




//#what .full-width-image {background: url(/images/video_stills/code_testing.jpg) top right no-repeat;}


.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 10px;
  span.highlighted {
      background: url('/images/construction/60_percent_black_transparent.png') repeat;
    //  border: 8px solid white;
      margin: 0 auto;
      padding: 6px 16px;
  }
}

.vert-text h1 {
  color: white;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5em;

}

.vert-text h3 {
  font-size: 1.3em;
  color: white;
}
