

#news {
  .row {padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid lightgray;}
  h1, h2 {color: #00b2bc;}
  h2 {margin-top: 0px; font-size: 1.8em;}
  p.lead {margin-bottom: 0px;}
}

.what-menu {
  background: $gray-darker;
  .section-name {
    @include make-xs-column(12);
    @include make-sm-column(4);
    @include make-lg-column(2);
    text-align: center;
    color: white;
    margin: 0px;
    padding: 10px 15px;
  }
  #section-name-1 {background: $sard-dark-blue;}
  #section-name-2 {background: $sard-yellow;}
  #section-name-3 {background: $sard-red;}
  #section-name-4 {background: $sard-turquoise;}
  #section-name-5 {background: $sard-orange;}
  #section-name-6 {background: $sard-pink;}
}

@mixin white-on-colour($colour) {
  background: $colour;
  color: white;
  p {color:black;}
  h1, h2 {color: white;}
}

@mixin colour-on-white($colour) {
  h1, h2, a {color: $colour;}
  &.top-divider {border-top: 6px solid $colour;}
}

.white-on-orange {@include white-on-colour($sard-why-orange);}
.orange-on-white {@include colour-on-white($sard-why-orange);}

.white-on-blue {@include white-on-colour($sard-how-blue);}
.blue-on-white {@include colour-on-white($sard-how-blue);}

.white-on-what-purple {@include white-on-colour($sard-what-purple);}
.what-purple-on-white {@include colour-on-white($sard-what-purple);}

.white-on-purple {@include white-on-colour($sard-purple);}
.purple-on-white {@include colour-on-white($sard-purple);}

.white-on-dark-blue {@include white-on-colour($sard-dark-blue);}
.dark-purple-on-white {@include colour-on-white($sard-dark-blue);}
//$sard-dark-blue:        #102d69 !default;
//$sard-yellow:           #f8b101 !default;
//$sard-red:              #bd111f !default;
//$sard-turquoise:        #018e88 !default;
//$sard-orange:           #e97b00 !default;
//$sard-pink:             #e02b88 !default;
//$sard-purple:           #8b277f !default;

// Blogs 
.blog {
  
}

.blog-excerpt {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(4);
}



// Testimonials
.testimonial {
  img.open-quote {float:left; margin-right: 6px;}
  img.close-quote {margin-left: 6px;}
  img.logo {margin-bottom: 6px;}
}
.testimonial-full {
  @include make-xs-column(12);
  @include make-sm-column(8);
}

.testimonial-excerpt {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(4);
}

.testimonial-testifier {
  @include make-xs-column(12);
  @include make-sm-column(4);
}


.person-extract{
  @include make-xs-column(6);
  @include make-sm-column(4);
  @include make-md-column(3);
  margin-bottom: 30px;
  
  img.portrait {border-radius: 10px 10px 0px 0px;}
  
  .caption {
    @include make-xs-column(12);
    border-radius: 0px 0px 10px 10px;
    background: #201d18;
    height: 130px;
//      @media screen and (min-width: 768px) {height: 180px;}
    color: white;
    p.bio-links {position: absolute; bottom: 15px; left:15px; margin: 0px;}
    p.bio-links img {display: inline-block; width:20px; height: 20px;}
  }
}




.more-links {
  @include make-sm-column(4);
}

