{% assign author = site.data.people[page.author] %}
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<div class="blog blog-excerpt col-xs-12 col-sm-6 col-md-4">
  {% if post.image %}
    <a href="{{ post.url }}"><img class="img-responsive img-thumbnail" src="/images/{{post.image}}"/></a>
  {% endif %}
  <h3><a href="{{ post.url }}">{{ post.nav_title }}</a></h3>
  {{ post.excerpt | strip_html | truncatewords:50}}
  <p><a href="{{ post.url }}" class="btn btn-default btn-sm" role="button">Read More</a></p>
</div>
