<section id="footer-logo">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <img class="img-responsive" src="{{ relative }}images/simon_web/sard_logo_grey01.jpg" alt="SARD Logo">
      </div>
    </div>
  </div>
</section>

<section id="footer-final">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">SARD JV Limited &copy;2012 - 2014<br/>A Joint venture with <a href="http://www.oxleas.nhs.uk/">Oxleas NHS Foundation Trust</a></p>
        <p class="text-center small">Design by <a href="http://www.simonsharville.co.uk/">Simon Sharville</a>
        <br>Photography and video by <a href="http://www.edshots.co.uk/">Edward Moore of www.edshots.co.uk</a></p>
      </div>
    </div>
  </div>
</section>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-33530197-1');ga('send','pageview');
</script>

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="{{ relative }}scripts/main.js"></script>
<!-- endbuild -->
