{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/main.css?{{site.time | date: '%s'}}">
    <link rel="stylesheet" href="/styles/video-js.min.css">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/isotope.pkgd.min.js"></script>
    <script src="/scripts/imagesloaded.pkgd.min.js"></script>
    <meta name="title" content="{{ page.title }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.excerpt }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />
    <meta name="twitter:description" content="{{ page.excerpt }}" />
    <meta property="og:image" content="{{site.url}}{{ page.image }}" />
    <meta name="twitter:image:src" content="{{site.url}}{{ page.image }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <!--[if lt IE 9]>
    <script src="/scripts/html5shiv.min.js"></script>
    <script src="/scripts/respond.min.js"></script>
    <script src="/scripts/respond.matchmedia.addListener.min.js"></script>
    <script src="/scripts/videojs-ie8.min.js"></script>
    <![endif]-->

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-33530197-1');ga('send','pageview');
    </script>

    <!-- build:js({app,.tmp}) /scripts/main.js -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
    <script src="/scripts/video.min.js"></script>

    <script>
      videojs.options.flash.swf = "/scripts/swfs/video-js.swf"
    </script>
</head>
