{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav id="navbar1" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">0844 585 2395</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            About Us<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/about-us/meet-the-team.html">Meet The Team</a></li>
            <li><a href="/about-us/contact-us.html">Contact Us</a></li>
            <li><a href="/testimonials.html">Testimonials</a></li>
            <li><a href="/faq-s.html">FAQs</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{relative}}/events.html" class="dropdown-toggle" data-toggle="dropdown">
            Events<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% for post in site.categories.events limit:5 %}
              <li>
                <a href="{{ post.url }}">{{ post.nav_title || post.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{relative}}/news.html" class="dropdown-toggle" data-toggle="dropdown">
            News<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% for post in site.categories.news limit:5 %}
              <li>
                <a href="{{ post.url }}">{{ post.nav_title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{relative}}/blogs.html" class="dropdown-toggle" data-toggle="dropdown">
            Blogs<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% for post in site.categories.blog limit:5 %}
              <li>
                <a href="{{ post.url }}">{{ post.nav_title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="#" onclick="SnapEngage.startLink();">Chat</a></li>
        <li><a href="/client-list.html">Doctor Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="navbar2" class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="desktop hidden-xs">
      <p class="navbar-text navbar-left">
        <img src="/images/simon_web/sard_logo_wht_389x90.png"/>
      </p>
      <p class="navbar-text navbar-right">
          <a href="/index.html" class="navbar-link">
            {% if page.why_how_what == 'why' %}
              <img src="/images/simon_web/nav_roundel_why_orange.png"/>
            {% else %}
              <img src="/images/simon_web/nav_roundel_why_wht.png"/>
            {% endif %}
          </a>
          <a href="/how.html" class="navbar-link">
            {% if page.why_how_what == 'how' %}
              <img src="/images/simon_web/nav_roundel_how_sblue.png"/>
            {% else %}
              <img src="/images/simon_web/nav_roundel_how_wht.png"/>
            {% endif %}
          </a>
          <a href="/what.html" class="navbar-link">
            {% if page.why_how_what == 'what' %}
              <img src="/images/simon_web/nav_roundel_what_purple.png"/>
            {% else %}
              <img src="/images/simon_web/nav_roundel_what_wht.png"/>
            {% endif %}
          </a>
      </p>
    </div>
    <div class="mobile visible-xs">
      <p class="navbar-text navbar-left">
        <img src="/images/simon_web/sard_logo_wht_78x18.png"/>
      </p>
      <p class="navbar-text navbar-right">
        <a href="/index.html" class="navbar-link">
          {% if page.why_how_what == 'why' %}
            <img src="/images/simon_web/nav_roundel_why_orange_xs.png"/>
          {% else %}
            <img src="/images/simon_web/nav_roundel_why_wht_xs.png"/>
          {% endif %}
        </a>
        <a href="/how.html" class="navbar-link">
          {% if page.why_how_what == 'how' %}
            <img src="/images/simon_web/nav_roundel_how_sblue_xs.png"/>
          {% else %}
            <img src="/images/simon_web/nav_roundel_how_wht_xs.png"/>
          {% endif %}
        </a>
        <a href="/what.html" class="navbar-link">
          {% if page.why_how_what == 'what' %}
            <img src="/images/simon_web/nav_roundel_what_purple_xs.png"/>
          {% else %}
            <img src="/images/simon_web/nav_roundel_what_wht_xs.png"/>
          {% endif %}
        </a>
      </p>
    </div>
  </div>
</div>

