{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% include navbar1_1.html %}

<div id="navbar2" class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="desktop hidden-xs">
      <p class="navbar-text navbar-left">
        <a href="/index.html">
          <img src="/images/simon_web/sard_logo_wht_339x90.png"/>
        </a>
      </p>
      <p class="navbar-text navbar-right">
          <a href="/index.html" class="navbar-link">
            {% if page.why_how_what == 'why' %}
              <img src="/images/simon_web/nav_roundel_why_orange.png"/>
            {% else %}
              <img src="/images/simon_web/nav_roundel_why_wht.png"/>
            {% endif %}
          </a>
          <a href="/how.html" class="navbar-link">
            {% if page.why_how_what == 'how' %}
              <img src="/images/simon_web/nav_roundel_how_sblue.png"/>
            {% else %}
              <img src="/images/simon_web/nav_roundel_how_wht.png"/>
            {% endif %}
          </a>
          <a href="/what.html" class="navbar-link">
            {% if page.why_how_what == 'what' %}
              <img src="/images/simon_web/nav_roundel_what_purple.png"/>
            {% else %}
              <img src="/images/simon_web/nav_roundel_what_wht.png"/>
            {% endif %}
          </a>
      </p>
    </div>
    <div class="mobile visible-xs">
      <p class="navbar-text navbar-left">
        <img src="/images/simon_web/sard_logo_wht_78x18.png"/>
      </p>
      <p class="navbar-text navbar-right">
        <a href="/index.html" class="navbar-link">
          {% if page.why_how_what == 'why' %}
            <img src="/images/simon_web/nav_roundel_why_orange_xs.png"/>
          {% else %}
            <img src="/images/simon_web/nav_roundel_why_wht_xs.png"/>
          {% endif %}
        </a>
        <a href="/how.html" class="navbar-link">
          {% if page.why_how_what == 'how' %}
            <img src="/images/simon_web/nav_roundel_how_sblue_xs.png"/>
          {% else %}
            <img src="/images/simon_web/nav_roundel_how_wht_xs.png"/>
          {% endif %}
        </a>
        <a href="/what.html" class="navbar-link">
          {% if page.why_how_what == 'what' %}
            <img src="/images/simon_web/nav_roundel_what_purple_xs.png"/>
          {% else %}
            <img src="/images/simon_web/nav_roundel_what_wht_xs.png"/>
          {% endif %}
        </a>
      </p>
    </div>
  </div>
</div>
