{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css /styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">    
    <!-- endbuild -->
    <!-- build:js /scripts/vendor/modernizr.js -->
    <script src="{{ relative }}bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    
    <!-- build:css /styles/bootstrap-ie7.css -->
      <!--[if lt IE 8]>
        <link rel="stylesheet" href="{{ relative }}../bower_components/bootstrap-ie7/css/bootstrap-ie7.css">
      <![endif]-->
    <!-- endbuild -->
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- build:js /scripts/vendor/iefixes.js -->
    <!--[if lt IE 9]>
      <script src="{{ relative }}../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="{{ relative }}../bower_components/respond/dest/respond.src.js"></script>
    <![endif]-->
    <!-- endbuild -->
</head>

