<div class="what-menu container-flexible">
    <a href="#revalidation"><h4 id="section-name-1" class="section-name">Revalidation</h4></a>
    <a href="#msf-360"><h4 id="section-name-2" class="section-name">MSF 360</h4></a>
    <a href="#job-planning"><h4 id="section-name-3" class="section-name">Job Planning</h4></a>
    <a href="#educators-appraisal"><h4 id="section-name-4" class="section-name">Educator's Appraisal</h4></a>
    <a href="#nsc-pyramids1"><h4 id="section-name-5" class="section-name">Appraisal for all</h4></a>
    <a href="#nsc-pyramids1"><h4 id="section-name-6" class="section-name">Nurse Revalidation</h4></a>
</div>