<div class="what-menu container-flexible">
    <a href="#revalidation">
      <h4 id="section-name-1" class="section-name">Revalidation</h4>
    </a>
    <h4 id="section-name-2" class="section-name">Section Name 2</h4>
    <h4 id="section-name-3" class="section-name">Section Name 3</h4>
    <h4 id="section-name-4" class="section-name">Section Name 4</h4>
    <h4 id="section-name-5" class="section-name">Section Name 5</h4>
    <h4 id="section-name-6" class="section-name">Section Name 6</h4>
</div>