---
# Predefined Global Variables
layout: default
permalink: /:categories/:year/:month/:title.html
---
{% assign author = site.data.people[page.author] %}
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

{% include full_width_image.html image_id="london_skyline" image_height="450" %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <img src="{{ relative }}{{author.image400x}}" class="img-thumbnail">
      </div>
      <div class="col-xs-6">
        <h2>{{ page.title }}</h2>
        <p>
          Written by 
          <a href="{{relative}}{{author.profile_page}}">
            {{ author.first_name }} {{ author.last_name }}
          </a>
          on {{ post.date | date: "%b %-d, %Y" }}<br>
          Tags: 
          {% for tag in page.tags %}
            <a href="{{relative}}tags.html#{{tag}}">{{tag}}</a>
            {% unless tag ==  page.tags.last %},&nbsp;{% endunless %}
          {% endfor %}
        </p>
        {{ content }}
      </div>
      <div class="col-xs-4">
        <h4>Other posts by {{ author.first_name }}</h4>
        <ul>
        {% for post in site.categories[page.author] %}
        <li><a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
        
        <h4>Recent posts</h4>
        <ul>
        {% for post in site.categories.blog limit:5 %}
        <li><a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
        
        <h4>Authors</h4>
        <ul>
        {% for person in site.data.people %}
        <li><a href="{{relative}}{{person[1].profile_page}}">{{person[1].first_name}} {{person[1].last_name}}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

