---
# Predefined Global Variables
layout: default
permalink: /:categories/:year/:month/:title.html

why_how_what:

---
{% assign author = site.data.people[page.author] %}
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

{% include full_width_image.html image_id="transmitter" image_height="450" %}

<section class="top-divider blue-on-white blog-post">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <h2>{{ page.title }}</h2>
        {% if page.lead %}
          <h3>{{ page.lead }}</h3>
        {% endif %}
        <p>
          {{ page.date | date: "%b %-d, %Y" }}
          <br/>
          <a href="/{{author.profile_page}}">
            {{ author.first_name }} {{ author.last_name }}
          </a>
        </p>
        <p>
          Tags:
          {% for tag in page.tags %}
            <a href="/tags.html#{{tag}}">{{tag}}</a>
            {% unless tag ==  page.tags.last %},&nbsp;{% endunless %}
          {% endfor %}
        </p>
        {{ content }}
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p><a href="/{{author.profile_page}}"><img src="/images/{{author.image400x}}" class="img-thumbnail img-responsive"/></a></p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <dl>
              {% if author.email %}
                <dt>Email:</dt><dd><a href="mailto:{{author.email}}">{{author.email}}</a></dd>
              {% endif %}
              {% if author.telephone %}
                <dt>Telephone:</dt><dd>{{author.telephone}}</dd>
              {% endif %}
              {% if author.mobile %}
                <dt>Mobile:</dt><dd>{{author.mobile}}</dd>
              {% endif %}
            </dl>
            <h4>Blog posts by {{ author.first_name }}</h4>
            <ul>
            {% for post in site.categories[page.author] %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
            {% endfor %}
            </ul>

            <h4>Recent posts</h4>
            <ul>
            {% for post in site.categories.blog limit:5 %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
            {% endfor %}
            </ul>

            <h4>Authors</h4>
            <ul>
            {% for person in site.data.people %}
              {% if person[1].current_employee %}
                <li><a href="/{{person[1].profile_page}}">{{person[1].first_name}} {{person[1].last_name}}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>

