---
# Predefined Global Variables
layout: default
why_how_what:
---
{% assign author = site.data.people[page.author] %}
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

{% include full_width_image.html image_id="dinosaur-neck" image_height="450" %}

<section class="top-divider blue-on-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <img src="/images/{{page.image}}" class="img-thumbnail">
      </div>
      <div class="col-xs-6">
        <h2>{{ page.title }}</h2>
        <p>
          Written by 
          <a href="/{{author.profile_page}}">
            {{ author.first_name }} {{ author.last_name }}
          </a>
          on {{ page.date | date: "%b %-d, %Y" }}<br>
          Tags: 
          {% for tag in page.tags %}
            <a href="/tags.html#{{tag}}">{{tag}}</a>
            {% unless tag ==  page.tags.last %},&nbsp;{% endunless %}
          {% endfor %}
        </p>
        {{ content }}
      </div>
      <div class="col-xs-4">
        <h3>Recent News</h3>
        <ul>
        {% for post in site.categories.news %}
        <li><a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
</section>

