---
# Predefined Global Variables
layout: default
---
{% assign person = site.data.people[page.person] %}
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

{% include full_width_image.html image_id="london_skyline" image_height="250" %}

<section class="top-divider blue-on-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p><img src="/images/{{person.image400x}}" class="img-thumbnail"/></p>
        <dl>
          {% if person.email %}
            <dt>Email:</dt><dd><a href="mailto:{{person.email}}">{{person.email}}</a></dd>
          {% endif %}
          {% if person.telephone %}
            <dt>Telephone:</dt><dd>{{person.telephone}}</dd>
          {% endif %}
          {% if person.mobile %}
            <dt>Mobile:</dt><dd>{{person.mobile}}</dd>
          {% endif %}
        </dl>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h1>{{person.first_name}} {{person.last_name}}</h1>
        <p>{{person.bio}}</p>
      </div>
    </div>
    <hr>
    
    <div class="row">
      <div class="col-xs-12">
        <h2>Blog posts for {{person.first_name}}</h2>
      </div>
      {% if site.categories[page.person].size > 0 %}
        {% for post in site.categories[page.person] %}
          {% include blog_excerpt.html %}
          {% assign remainder = forloop.index | modulo:3 %}
          {% if remainder == 0 %}
            <div style="clear:both;" class="visible-md visible-lg">&nbsp;</div>
          {% endif %}
          {% assign remainder2 = forloop.index | modulo:2 %}
          {% if remainder2 == 0 %}
            <div style="clear:both;" class="visible-sm">&nbsp;</div>
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="col-xs-12">
          <p>There are no blog posts at present</p>
        </div>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2>More of the team</h2>
        <ul>
        {% for person in site.data.people %}
        <li><a href="/{{person[1].profile_page}}">{{person[1].first_name}} {{person[1].last_name}}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    
    

  </div>
</section>


