---
# Predefined Global Variables
layout: default
why_how_what: 'why'
---
{% assign author = site.data.people[page.author] %}
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

{% include full_width_image.html image_id="london_skyline" image_height="450" %}

<section class="orange-on-white">
  <div class="container">
    <div class="row">
      <div class="testimonial testimonial-testifier">
        <img class="img-responsive img-thumbnail logo" src="/images/{{page.testifier-image}}">
        <h3>{{ page.testifier }}</h3>
        <h4>{{ page.role }}</h4>
        <h5>{{ page.organisation }}</h5>
      </div>
      <blockquote class="testimonial testimonial-full">
        <p class="text-right"><img class="img-responsive logo" src="/images/{{page.logo}}"></p>
        <img class="open-quote" width="40" src="/images/construction/quote_open_orange08.png">
          {{ content }}
        <img class="close-quote" width="40" src="/images/construction/quote_close_orange08.png">
        <footer>
          {{ page.testifier }}<br>
          {{ page.role }}<br>
          <b><cite title="{{ post.organisation }}">{{ page.organisation }}</cite></b>
        </footer>
      </blockquote>
    </div>
    <hr>
    <div class="row">
      <h2>More Testimonials</h2>
      {% assign testimonials = site.categories.testimonials | sort: 'order' %}
      {% for post in testimonials %}
        {% include testimonial_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div class="clearfix visible-md visible-lg"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <hr>
</section>


