---
layout: default
body_id: 'why'

why_how_what: 'why'
---

{% include full_width_image.html image_id="london_skyline" image_height="450" %}


<section id="events" class="top-divider blue-on-white">
  <div class="container">
    <h1>Events</h1>
    <div class="row">
      {% for post in site.categories.events %}
        {% include events_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div style="clear:both;" class="visible-md visible-lg">&nbsp;</div>
        {% endif %}
        {% assign remainder2 = forloop.index | modulo:2 %}
        {% if remainder2 == 0 %}
          <div style="clear:both;" class="visible-sm">&nbsp;</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
