---
layout: default
body_id: 'how'
title: How - SARD
nav_title: How - SARD
why_how_what: 'how'
---

{% include full_width_image.html image_id="nsc-pyramids1" image_height="500" %}
{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<section id="how-we-work-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>How we work</h1>
        <p class="lead">In order to produce the best solutions, we follow some very clear principles. These create the foundations of how we work and get the best results for those we are working with.</p>
      </div>
    </div>
  </div>
</section>

<p>{{ page.how }}</p>

<section id="Our Priciples">
  <div class="container">
    <div class="col-xs-12">
      <h1>Our Principles</h1>
      <p>Our principles drive how we work, and how we get results. Each principle alone is important and helps lead to sucessful outcomes, but together they are not only integral to how we work, but also very powerful.</p>
    </div>
  </div>
</section>

<section id="how-we-work">  
  <div class="container">
     <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1><img src="/images/simon_web/howwework.png" alt="How we work" class="img-responsive"/></h1>
      </div>  
    </div> 
  </div>
</section>

<section id="how-we-work">  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>SARD JV started long before the joint venture was officially set up. Oxleas NHS FT and Mango Swiss had already collaborated on a number of projects which went on to shape we operate now. Early on, we thought long and hard about how we could achieve the best results and found them to be surprisingly simple. First and foremost we would foster a collaborative approach to WHY we were undertaking a project. We want to understand for both ourselves and our clients what the tangible impact of our work would be and the benefits to the organisation requesting it.</p>
  
        <p>In order to achieve this, there were two very clear principles we would follow; Only produce solutions in partnership, never in isolation and above all listen to our clients. Only once we have listened, are we able to offer our knowledge, skills and expertise in the most useful way.</p>
        <p>Simplicity is paramount. Our solutions are designed to be intuitive and are built to help, not hinder. If a system requires large scale user training, then it is too complicated. 
        We want what users want, systems that help them carry out a task quickly, easily and efficiently,  so they can get back to the other aspects of their roles.</p>
        <p>So how do we ensure our team are effective in delivering this? Again that is simple. Through three straightforward principles: Mastery; Autonomy and Purpose. All of our team are master users of the solutions we provide. We live and breathe them throughout the working day. All of our team members have autonomy and work self-directively. We take full ownership of the work we do. We all have a shared understanding of the purpose of our business and full agreement on what we want to create and achieve.</p>
      </div>
    </div> 
  </div>
</section>

<section id="asking-why" class="marketing">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Asking Why</h1>
        <p>At SARD we pride ourselves on our ingenuity and innovation, in fact it is how we started - designing solutions to problems that were deemed too hard to resolve by some. However we equally pride ourselves on our integrity and therefore before we start working on a project we always want our clients to ask themselves why they are doing what they are doing and what they hope to achieve? </p>
        <p>It is to help draw from our clients’ expertise to understand the key outcomes and provide solutions that are meaningful and effective.</p>
        <p>Asking ‘why’ is something we do on a daily basis to ensure that we produce the best work possible. Challenge leads to change.</p>
      </div>
    </div>
  </div>
</section>

<section id="news" class="top-divider blue-on-white">
  <div class="container">
    <h1>News</h1>
    <div class="row">
      {% for post in site.categories.news %}
        {% include news_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div style="clear:both;" class="visible-md visible-lg">&nbsp;</div>
        {% endif %}
        {% assign remainder2 = forloop.index | modulo:2 %}
        {% if remainder2 == 0 %}
          <div style="clear:both;" class="visible-sm">&nbsp;</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% include full_width_image.html image_id="transmitter" image_height="150" %}

<section id="events" class="top-divider blue-on-white">
  <div class="container">
    <h1>Events</h1>
    <div class="row">
      {% for post in site.categories.events %}
        {% include events_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div style="clear:both;" class="visible-md visible-lg">&nbsp;</div>
        {% endif %}
        {% assign remainder2 = forloop.index | modulo:2 %}
        {% if remainder2 == 0 %}
          <div style="clear:both;" class="visible-sm">&nbsp;</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% include full_width_image.html image_id="dinosaur-neck" image_height="150" %}


<section id="blogs" class="top-divider blue-on-white">
  <div class="container">
    <h1>Blogs</h1>
    <div class="row">
      {% for post in site.categories.blog %}
        {% include blog_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div style="clear:both;" class="visible-md visible-lg">&nbsp;</div>
        {% endif %}
        {% assign remainder2 = forloop.index | modulo:2 %}
        {% if remainder2 == 0 %}
          <div style="clear:both;" class="visible-sm">&nbsp;</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>


