---
# Predefined Global Variables
layout: default
#permalink: /year/month/day/title.html
published: true 
categories:
  - static
tags:
  - why
  - philosophy

#Custom Variables
title: Why - SARD
nav_title: Why - SARD
why_how_what: 'why'
---

{% include full_width_image.html image_id="london_skyline" image_height="500" %}

<section id="our-philosophy" class="white-on-orange">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Philosophy</h1>
        <p class="lead">We believe in creating a work environment where we optimise the happiness of both our clients and team. We do this by undertaking meaningful work, with real integrity and only engage in developing solutions that we truly believe in. The core values that we hold close in life are reflected in everything we do at&nbsp;work.</p>     
      </div>
    </div> 
  </div>
</section>

<section class="video-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <video
          id="home-video"
          class="video-js vjs-big-play-centered sard-video-skin vjs-default-skin"
          controls preload="auto"
          poster="/images/video_stills/phil_at_window.jpg"
          data-setup='{"example_option":true}'>
         <source src="https://s3-eu-west-1.amazonaws.com/sardjv-www/videos/17jun2014/dest/sard_final_low.mp4" type='video/mp4' />
         <source src="https://s3-eu-west-1.amazonaws.com/sardjv-www/videos/17jun2014/dest/sard_final.webm" type='video/webm' />
         <source src="https://s3-eu-west-1.amazonaws.com/sardjv-www/videos/17jun2014/dest/sard_final.ogg" type='video/ogg' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <script type="text/javascript">
          
          videojs('home-video', {'height':'auto', 'width':'auto'}).ready(function(){
                var myPlayer = this;    // Store the video object
                var aspectRatio = 9/16; // Make up an aspect ratio
                function resizeVideoJS(){
                    // Get the parent element's actual width
                    var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
                    // Set width to fill parent element, Set height
                    myPlayer.width(width).height( width * aspectRatio );
                }

                resizeVideoJS(); // Initialize the function
                $(window).resize(resizeVideoJS); // Call the function on resize

                myPlayer.on("play", function(){
                    $('#navbar2').hide();
                });

                myPlayer.on("stop", function(){
                    $('#navbar2').show();
                });
          
                myPlayer.on("pause", function(){
                    $('#navbar2').show();
                });
            });
        </script>
      </div>
    </div>
  </div>
</section>

<section id="our-clients" class="orange-on-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Clients</h1>
        <p>Making our clients happy is at the forefront of everything we do. Alongside producing the best systems, client happiness is our number one focus. But don't just take our word for it, ask the people that matter: </p>
        <h2><a href="/testimonials.html">Testimonials</a></h2>  
      </div>
      {% assign testimonials = site.categories.testimonials | sort: 'order' %}
      {% for post in testimonials %}
        {% include testimonial_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div style="clear:both;" class="visible-md visible-lg">&nbsp;</div>
        {% endif %}
        {% assign remainder2 = forloop.index | modulo:2 %}
        {% if remainder2 == 0 %}
          <div style="clear:both;" class="visible-sm">&nbsp;</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>



<section id="our-team" class="top-divider orange-on-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Team</h1>
        <p>At SARD JV we know our most important assets are the people we work with. It is not just about having highly skilled and gifted team members (which we are happy to say we have), but more about surrounding ourselves with individuals who share our attitudes and values and want to achieve the same high standards and goals. Our people are the foundation of our business.</p>
      </div>
    </div>
    
    <div class="row">
      {% for person in site.data.people %}
        {% include person_excerpt.html %}
      {% endfor %}
    </div>
  </div>
</section>






