---
# Predefined Global Variables
layout: default
#permalink: /year/month/day/title.html
published: true 
categories:
  - static
tags:
  - why
  - philosophy

#Custom Variables
title: Why SARD?
nav_title: Why SARD?
why_how_what: 'why'
---

{% include full_width_image.html image_id="london_skyline" image_height="450" %}

<section id="our-philosophy" class="white-on-orange">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Philosophy</h1>
        <p class="lead">We believe in creating a work environment where we optimise the happiness of both our clients and team. We do this by undertaking meaningful work, with real integrity and only engage in developing solutions that we truly believe in. The core values that we hold close in life are reflected in everything we do at&nbsp;work.</p>     
      </div>
    </div> 
  </div>
</section>

<section id="our-clients" class="orange-on-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Clients</h1>
        <p>Making our clients happy is at the forefront of everything we do. Alongside producing the best systems, client happiness is our number one focus. But don't just take our word for it, ask the people that matter: </p>
        <h2><a href="{{relative}}testimonials.html">Testimonials</a></h2>  
      </div>
      {% assign testimonials = site.categories.testimonials | sort: 'order' %}
      {% for post in testimonials %}
        {% include testimonial_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div class="clearfix visible-md visible-lg"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>



<section id="our-team" class="top-divider orange-on-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Team</h1>
        <p>At SARD JV we know our most important assets are the people we work with. It is not just about having highly skilled and gifted team members (which we are happy to say we have), but more about surrounding ourselves with individuals who share our attitudes and values and want to achieve the same high standards and goals. Our people are the foundation of our business.</p>
      </div>
    </div>
    
    <div class="row">
      {% for person in site.data.people %}
        <div class="person-extract">
          <img src="{{relative}}{{person[1].image400x}}" class="img-responsive portrait" alt="Kevin Portrait Photo">
          <div class="caption">
            <h4>{{person[1].first_name}} {{person[1].last_name}}<br>
            <strong>{{person[1].role}}</strong></h4>
            <p class="bio-links">
              <a href="mailto:{{person[1].email}}">
                <img src="{{relative}}images/simon_web/icon_mail_wht.png" alt="Email {{person[1].first_name}} {{person[1].last_name}}"/>
              </a>
              {% if {{person[1].linked_in}} %}
                <a href="{{person[1].linked_in}}">
                  <img src="{{relative}}images/simon_web/icon_linkedin_wht.png" alt="Linked In - {{person[1].first_name}} {{person[1].last_name}}"/>
                </a>
              {% endif %}
              {% if {{person[1].profile_page}} %}
                <a href="{{relative}}{{person[1].profile_page}}">
                  <img src="{{relative}}images/simon_web/icon_blog_wht.png" alt="SARD Blog - {{person[1].first_name}} {{person[1].last_name}}"/>
                </a>
              {% endif %}              
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>





