---
# Predefined Global Variables
layout: default
#permalink: /year/month/day/title.html
published: true
categories:
  - static
tags:
  - testimonials

#Custom Variables
title: Testimonials
nav_title: Testimonials
why_how_what:
---

{% include full_width_image.html image_id="happy_electro" image_height="450" %}


<section id="testimonials" class="top-divider white-on-orange">
  <div class="container">
    <div class="col-xs-12">
      <h1>Testimonials</h1>
      <p class="lead">The most important goal for us is to ensure that our clients and partners are happy, both with our solutions, and our support. We believe that this is a true measure of success, if those who we work with are happy then we are doing something right and are travelling in the right direction. However we do not just strive for happiness today, we want this to be a constant state. So here is what our customers think of us in their own words:</p>
    </div>
  </div>
</section>

<section id="testimonials" class="orange-on-white">
  <div class="container">
    <div class="row">
      {% assign testimonials = site.categories.testimonials | sort: 'order' %}
      {% for post in testimonials %}
        {% include testimonial_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div style="clear:both;" class="visible-md visible-lg">&nbsp;</div>
        {% endif %}
        {% assign remainder2 = forloop.index | modulo:2 %}
        {% if remainder2 == 0 %}
          <div style="clear:both;" class="visible-sm">&nbsp;</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
