---
# Predefined Global Variables
layout: default
#permalink: /year/month/day/title.html
published: true
categories:
  - static
tags:
  - testimonials

#Custom Variables
title: Testimonials
nav_title: Testimonials
why_how_what:
---

{% include full_width_image.html image_id="happy_electro" image_height="450" %}


<section id="testimonials" class="top-divider white-on-orange">
  <div class="container">
    <div class="col-xs-12">
      <h1>Testimonials</h1>
      <p class="lead">The most important goal for us is to ensure that our clients and partners are happy, both with our software and our support. We believe that this is a true measure of success, if those who we work with are happy then we are doing something right and are travelling in the right direction. However we do not just strive for happiness today, we want this to be a constant state. So here is what our customers think of us in their own words:</p>
    </div>
  </div>
</section>

<section class="video-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <video
          id="home-video"
          class="video-js vjs-big-play-centered sard-video-skin vjs-default-skin"
          controls preload="auto"
          data-setup='{"example_option":true}'>
         <source src="https://s3-eu-west-1.amazonaws.com/sardjv-www/videos/testimonial_2018/Nicky+Sullivan+testimonial+THIRD+CUT.mp4" type='video/mp4' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <script type="text/javascript">

          videojs('home-video', {height: '100', width: '100'}).ready(function(){
                var myPlayer = this;    // Store the video object
                var aspectRatio = 9/16; // Make up an aspect ratio
                function resizeVideoJS(){
                    // Get the parent element's actual width
                    var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
                    // Set width to fill parent element, Set height
                    myPlayer.width(width);
                    myPlayer.height( width * aspectRatio );
                }

                resizeVideoJS(); // Initialize the function
                $(window).resize(resizeVideoJS); // Call the function on resize

                myPlayer.on("play", function(){
                    $('#navbar2').hide();
                });

                myPlayer.on("stop", function(){
                    $('#navbar2').show();
                });

                myPlayer.on("pause", function(){
                    $('#navbar2').show();
                });
            });
        </script>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="orange-on-white">
  <div class="container">
    <div class="row">
      {% assign testimonials = site.categories.testimonials | sort: 'order' %}
      {% for post in testimonials %}
        {% include testimonial_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div style="clear:both;" class="visible-md visible-lg">&nbsp;</div>
        {% endif %}
        {% assign remainder2 = forloop.index | modulo:2 %}
        {% if remainder2 == 0 %}
          <div style="clear:both;" class="visible-sm">&nbsp;</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
