---
# Predefined Global Variables
layout: default
#permalink: /year/month/day/title.html
published: true 
categories:
  - static
tags:
  - testimonials

#Custom Variables
title: Testimonials
nav_title: Testimonials
why_how_what:
---

{% include full_width_image.html image_id="code-testing" image_height="450" %}


<section id="our-solutions" class="orange-on-white">
  <div class="container">
    <div class="col-xs-12">
      <h1>Testimonials</h1>
      <p class="lead">SARD JV focused primarily on providing systems solutions to healthcare organisations for Revalidation. In fact it was these solutions that led to the creation of the company in the first place. So far we have the following solutions...</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% assign testimonials = site.categories.testimonials | sort: 'order' %}
      {% for post in testimonials %}
        {% include testimonial_excerpt.html %}
        {% assign remainder = forloop.index | modulo:3 %}
        {% if remainder == 0 %}
          <div class="clearfix visible-md visible-lg"></div>
        {% endif %}
        {% assign remainder2 = forloop.index | modulo:2 %}
        {% if remainder2 == 0 %}
          <div class="clearfix visible-sm"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
