---
# Predefined Global Variables
layout: default
#permalink: /year/month/day/title.html
published: true
categories:
  - static
tags:
  - what
  - philosophy

#Custom Variables
title: What - SARD
nav_title: What
why_how_what: 'what'
---

{% include full_width_image.html image_id="code-testing" image_height="500" %}
{% include products.html %}

<section id="support" class="top-divider white-on-purple">
  <div class="container">
    <div class="col-xs-12" style='color:white;'>
      <h1>Support</h1>
      <p style='color:white;'>We take pride in our customer support, it is a main driving force for us and we will go out of our way to make sure we can provide the best help we can. We don’t have a call-centre and we don’t hire any third parties to deal with our customer support. When you have a question, you will reach our team directly and we will do everything we can to give you the best advice and resolve any queries you may have.</p>

      <p style='color:white;'>All of our products have an intuitive design that should make it easy and straightforward for you to use. But in case you have any questions, we have the following support features available:</p>

      <h2>Live Chat Support</h2>
      <p style='color:white;'>During office hours, you can speak to any of the members of the SARD team via our instant messaging service. If you prefer not to speak via a chat service, you can always just send us your phone number and we’ll give you a call within the next 10 minutes.</p>

      <h2>Knowledge Base</h2>
      <p style='color:white;'>Visit support.sardjv.co.uk for an encyclopedia of SARD, with lots of information and FAQs for you to peruse, chances are your query will be answered by reading this page.</p>

      <h2>Phone and E-mail support</h2>
      <p style='color:white;'>You can call us within office hours on {{ site.data.contact_details.telephone.office }} to speak to a member of our team, or you can e-mail info@sardjv.co.uk and we’ll respond within half a working day.</p>

      <h2>Video Tutorials</h2>
      <p style='color:white;'>Our products come with a ‘support videos’ page, which has some short instruction videos on how to use the systems.</p>

      <h2>User Guide</h2>
      <p style='color:white;'>Everyone has access to a user guide via their dashboard. If you prefer to hand out hardcopies of the guide, please ask and we’ll send these to you for free.</p>
      <p style='color:white;'><a href="#top">Back to top</a></p>
    </div>
  </div>
</section>


