---
# Predefined Global Variables
layout: default
#permalink: /year/month/day/title.html
published: true 
categories:
  - static
tags:
  - what
  - philosophy

#Custom Variables
title: What - SARD
nav_title: What
why_how_what: 'what'
---

{% include full_width_image.html image_id="code-testing" image_height="450" %}

{% include what_menu.html %}


<section id="our-solutions" class="what-purple-on-white top-divider">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our Solutions</h1>
        <p class="lead">SARD JV focused primarily on providing systems solutions to healthcare organisations for Revalidation. In fact it was these solutions that led to the creation of the company in the first place. So far we have the following solutions...</p>
      </div>
    </div>
  </div>
</section>
   
{% include full_width_image.html image_id="dinosaur-neck" image_height="200" %}

<section id="revalidation" class="dark-purple-on-white top-divider">
  <div class="container">
    <div class="col-xs-12">
      <h1>SARD: Medical Appraisal and Revalidation</h1>
      <p>The SARD Appraisal system is based on the Revalidation Support Team’s GMC MAG form. This will be familiar to doctors who have completed an appraisal using the interactive Adobe PDF form. The appraisal is linked to the SARD Portfolio, which is based on the GMP Portfolio. Relevant evidence from your portfolio is pulled directly into your appraisal form.</p>
      <p>The SARD system is completely adaptable to your needs. For instance the portfolio can be tailored to your medical role and can be linked to your appraisal whichever way suits your preferences.</p>

      <p>Evidence to your portfolio can be uploaded over a number of years. When it is time for your appraisal all the relevant documents are in one place; making the appraisal process cumulative rather than repetitive. The portfolio is based on the Good Medical Practice portfolio.</p>
      <p>You can mark your appraisal progress at every stage with the traffic light colour coding, as well as the “progress bar” which monitors the overall status of your revalidation. You can leave comments on each section to clarify the attached documents. The entire appraisal portfolio and all supporting evidence can be downloaded as a single ‘zip’ file or separate PDF files.</p>
      <p><a href="#top">Back to top</a></p>
    </div>
  </div>
</section>
 
{% include full_width_image.html image_id="transmitter" image_height="200" %}

<section id="msf-360" class="yellow-on-white top-divider">
  <div class="container">
    <div class="col-xs-12">
      <h1>SARD: 360 Multi-source Feedback</h1>
      <p>SARD:360 is our answer to Multi-Source Feedback. SARD:360 is based on the GMC patient, colleague and self assessment questionnaires. Doctors can suggest colleagues for their colleague feedback. The Administrator can then choose a subset of these suggestions to send the feedback forms to.</p>
       <p>SARD JV has several ways in which you can collect patient feedback data. As we understood the challenges healthcare organsiations have with regards to gathering feedback, especially from patients we provide both traditional and technical solutions with our 360 module. For more information on the different ways in which you can use SARD to collect patient feedback data please click on the following link:<a href="http://www.sardjv.co.uk/sard-360-patient"> SARD: 360</a></p>
       <p><a href="#top">Back to top</a></p>
       
    </div>
  </div>
</section>

{% include full_width_image.html image_id="timer" image_height="200"%}

<section id="job-planning" class="red-on-white top-divider">
  <div class="container">
    <div class="col-xs-12">
      <h1>SARD: Job Planning</h1>
      <p>The SARD:Job Planning system is a simple and intuitive, single form page that allows you to enter your PAs and add the time, location and description for each activity.</p>
      <p>The aim when building this module was to ensure that the process was kept as simple as possible and to remove layers of complexities that can often make the process more difficult that it needed to be.</p>
      <p>As with the Portfolio and the Appraisal, the Job Plan automatically links the Job Content and Objectives sections of the Job Plan to the relevant sections of the Appraisal such as Scope of Work and PDP Objectives.</p>
      <p>If you want to take a look at the job planning module feel free to contact us and we will get you set up on our demonstrationg site so you can test it out.</p>
      <p><a href="#top">Back to top</a></p>
    </div>
  </div>
</section>

{% include full_width_image.html image_id="code-testing" image_height="200"%}

<section id="educators-appraisal" class="turquoise-on-white top-divider">
  <div class="container">
    <div class="col-xs-12">
      <h1>SARD: Educator's Appraisal</h1>
      <p>Our educators appraisal module supports the development of high quality clinical educators and educational leaders, and covers all aspects of the criteria to ensure full completion. The educators appraisal module forms part of the portofilo of evidence and also forms part of the up to date appraisal forms.</p>
      <p>We developed this module in partnership with two of our current clients to ensure that it met all of the needs required by an NHS Trust, but always we are happy to develop this further should your organisation have any specific needs.</p>
      <p>As with all of our systems and modules mentioned above, we are more than happy to talk you through how they work and what they can bring to your organisation. Equally we are happy to provide you with access to our demonstration site should you wish to take a look for yourself.</p>
      <p><a href="#top">Back to top</a></p>
    </div>
  </div>
</section>

{% include full_width_image.html image_id="nsc-pyramids1" image_height="200" %}

<section id="future-developments" class="pink-on-white top-divider">
  <div class="container">
    <div class="col-xs-12">
      <h1>Future Developments</h1>
      <p>We believe in always moving forward and improving, and now we feel it is time to take the next logical steps in the development of our solutions after the success of Medical Revalidation. We wanted to share these exciting developments with you as well as offer (as usual) the opportunity to get involved.</p>
      
      <h2>SARD Appraisal for All</h2>
      <p>Developing our medical revalidation system has provided a great platform for making life easier for those undertaking the process of appraisal and revalidation. It has however led us to a pressing question, why restrict the platforms coverage? We wanted to take a different approach, and this logically led to the idea of expanding our platform to more staff in the NHS (and who knows in the future beyond). In fact we wanted to offer the platform to all staff. Appraisal is an important development process, and we want to help support it so it is meaningful and productive. We also understand that an appraisal is not just a once a year event, and to be truly useful it needs to be an ongoing process to help develop staff and look to the future. In order to facilitate this we need something that will support this process without drawing users in to overly complicated processes. For more information about this please contact any member of our team and watch this space.</p>
      
      <h2>SARD Nurse Revalidation</h2>
      <p>As part of our Appraisal for All platform, we will be building specific modules to cater for new and upcoming revalidation requirements specifically with a focus on Nurse Revalidation. As this is the next logical step we will strive as we have done on all of our previous undertakings to make this simple and straightforward. More text to follow.</p>
      <p><a href="#top">Back to top</a></p>
    </div>
  </div>
</section>

<section id="what-makes-us-different" class="top-divider purple-on-white">
  <div class="container">
    <div class="col-xs-12">
      <h1>What makes us different?</h1>
      <h2>Built for Revalidation</h2>
      <p>We understand what you need from a revalidation system because we needed the same thing. SARD was designed and developed by Oxleas NHS Foundation Trust with all of your needs in mind. A system designed by health care professionals for healthcare professionals. As a pilot trust dissatisfied with the alternatives, we decided to create something home grown that did exactly what a trust requires. We are so proud of the outcome that we want to share it with you and in the process reinvest back into the NHS.</p>
      
      <h2>Built by an NHS Foundation Trust</h2>
      <p>SARD was specifically built for Revalidation. It’s not an afterthought or bolt-on. SARD is built from the ground up, meeting all the GMC requirements in the simplest way possible. SARD delivers for all user levels; responsible officers, appraisers, doctors and administrators. Covering evidence gathering, appraisal completion and appraisal outcomes whilst at the same time tracking activity and providing individual and organisational wide compliance.</p>
      
      <h2>Easy to integrate; simple to use</h2>
      <p>Integration of any new system can be painful due to the varied requirements of each individual organisation. Finding a solution that fits with your structures and processes can be difficult and as such organisations often find themselves working to the beat of the system, rather than the system working for them. SARD is different, it was built to be flexible and meet any unique requirements you have, however unusual. Highly configurable with minimum impact on usage and with its simple and easy to use interface, SARD is the complete package.</p>
      <p><a href="#top">Back to top</a></p>
    </div>
  </div>
</section>

<section id="support" class="top-divider white-on-purple">
  <div class="container">
    <div class="col-xs-12">
      <h1>Support</h1>
      <p>We take pride in our customer support, it is a main driving force for us and we will go out of our way to make sure we can provide the best help we can. We don’t have a call-centre, we don’t hire any third parties to deal with our customer support. When you have a question, you will reach our team directly and we will do everything we can to give you the best advice and resolve any queries you may have.</p>
 
      <p>All of our solutions have an intuitive design that should make it easy and straightforward for you to use. But in case you have any questions, we have the following support features available:</p>

      <h2>Live Chat Support</h2>
      <p>During office hours you can speak to Nicholas, Sophie or any of the other members of the SARD team via our instant messaging service. If you prefer not to speak via a chat service, you can always just send us your phone number and we’ll give you a call within the next 10 minutes.</p>

      <h2>Knowledge Base</h2>
      <p>Visit support.sardjv.co.uk for an encyclopedia of SARD, with lots of information and FAQs for you to peruse, chances are your query will be answered by reading this page.</p>
      
      <h2>Phone and E-mail support</h2>
      <p>You can call us within office hours on 0844 585 2395 to speak to a member of our team, or you can e-mail info@sardjv.co.uk and we’ll respond within half a working day.</p>

      <h2>Video Tutorials</h2>
      <p>Our solutions come with a ‘support videos’ page, which has some short instruction videos on how to use the systems.</p>

      <h2>User Guide</h2>
      <p>Everyone has access to a user guide via their dashboard. If you prefer to hand out hardcopies of the guide, please ask and we’ll send these to you for free.</p>
      <p><a href="#top">Back to top</a></p>
    </div>
  </div>
</section>


