#why {
  #our-philosophy {
    background: #e97b00;
    padding: 40px 0px !important;
    h1 {color: white;}
  }

}

#footer-logo {
  padding: 60px 0px !important;
  margin:0px;
  img {display: block; margin: 0 auto;}
}

#footer-final {
  color: white;
  background: #201d18;
  padding: 15px 0px !important;
  margin: 0px !important;
}